@import url("https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/background2.jpg);
  /*max-width: 1600px;
  background-color: #cccccc; /* Used if the image is unavailable */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#blackjack-result {
  font-size: 0.9em;
}

.container {
  font-family: "Loved by the King", cursive;
  font-weight: 500;
  color: #fff !important;
  font-size: 1.3em;
  margin: 0 auto;
  text-align: center;
}

.container h2 {
  margin-top: 10px;
  font-size: 1.8em;
}

.title {
  text-decoration: line-through;
  color: red;
}
/*Table Section*/
.table,
th,
td {
  font-size: 1.1em;
  padding: 10px;
  border: 1px solid #fff;
  color: white;
  align-items: center;
  text-align: center;
}

#win-header {
  color: #15df7d;
}

#loss-header {
  color: #ec1919;
}

#draw-header {
  color: #ffe65b;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
  display: flex;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-blackjack-row-2 div {
  flex: 1; /* Take the full width */
  height: 375px;
  text-align: center;
}

.flex-blackjack-row-2 div h2 {
  font-family: "Poltawski Nowy", serif;
  font-weight: 500;
  font-size: 1.4em;
}

.flex-blackjack-row-2 div img {
  padding: 10px;
  object-fit: contain; /* Do not stretch the image so resolution stays the same*/
}

.flex-blackjack-row-3 div {
  padding: 10px;
}

.flex-blackjack-row-3 div button {
  padding: 10px;
  /*width: 50px;*/
  border: 1px dotted #fffdfd;
  font-size: 1em;
  font-weight: 500;
  border-radius: 15%;
  margin-bottom: 10px;
}

#blackjack-stand-button {
  color: #f7f7f7 !important;
  font-weight: 500;
}

.table-scores {
  font-weight: 500;
  font-size: 1.2em;
}
